a {
color:#66cdaa;
}

body {
  color:#ffffff;
  background:#5f9ea0;
  font-family:Meiryo,'メイリオ','ヒラギノ角ゴ Pro W3';
  text-align: center;
}
img {
  height: 20%;
  max-width: 90%;
}
main{
  margin-top:10%;
}
table{
  margin-left: 45%;
  margin-right: auto;
  border-collapse: collapse;
  border: 0px none;
}
table th {
  padding: 10px;
}
table td {
  padding: 10px;
}
.btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
  margin: 1em;
}

.btn:hover {
  background: #1ec7bb;
}
