a {
color:#66cdaa;
}

body {
  color:#ffffff;
  background:#5f9ea0;
  font-family:Meiryo,'メイリオ','ヒラギノ角ゴ Pro W3';
  text-align: center;
  height: 100%;
}
main{
  margin-top:20%;
}
table{
  margin-left: 45%;
  margin-right: auto;
  border-collapse: collapse;
  border: 0px none;
}
table th {
  padding: 10px;
  border-bottom: 3px solid #174a5c;
}
table td {
  padding: 10px;
  border-bottom: 1px solid gray;
}
