a {
color:#66cdaa;
}

body {
  color:#ffffff;
  background:#5f9ea0;
  font-family:Meiryo,'メイリオ','ヒラギノ角ゴ Pro W3';
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  user-select: none;
}
 
main {
  text-align: center;
}
